/* Background */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  background: linear-gradient(to bottom, hsl(273, 100%, var(--bg-lightness-top)), hsl(273, 100%, var(--bg-lightness-bottom)));
  transition: background 0.2s ease;
  
  /* Set default lightness values */
  --bg-lightness-top: 5%;
  --bg-lightness-bottom: 25%;
}

body {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Header and Tabs */
header {
  background-color: #333;
  padding: 10px 0;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

nav ul li a:hover, .tab-link.active {
  border-radius: 4px;
}

/* Content Section */
.content {
  padding: 20px;
  text-align: center;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

h2 {
  margin-bottom: 10px;
}

p {
  font-size: 16px;
}

.container {
  background-color: rgba(27, 27, 27);
  width: 80%;
  max-width: 1200px;
  min-height: 90%;
  margin: 25px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.content {
  color: white;
  text-align: left;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.content a {
  color: rgb(209, 209, 209);
  text-decoration: none;
}

.content a:hover {
  color: rgb(113, 113, 113);
}

.content ul,
.content ol {
  padding-left: 0;
  margin-left: 0;
  list-style-position: outside;
}

.content li {
  margin-left: 20px;
  padding-left: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 15px;  
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
  table-layout: fixed;
}


th, td {
  padding: 8px;
  text-align: center;
  width: 33%;
}